html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #999999; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #bfbfbf; 
}
