.editor {
	--appBackgroundColor: #edecea;
	--scrollbarWidth: 12px;
	--scrollbarBorderColor: white;
	
	font-family: "Noto Sans";
	font-size: 12.5px;
	color: #444444;
	
	&, div {
		box-sizing: border-box;
		outline: none;
		
		&::-webkit-scrollbar {
			width: var(--scrollbarWidth);
			height: var(--scrollbarWidth);
		}
		
		&::-webkit-scrollbar-track {
			/*border-radius: 10px;*/
		}
		
		&::-webkit-scrollbar-thumb {
			width: 8px;
			height: 8px;
			border-radius: 8px;
			border: 2px solid var(--scrollbarBorderColor);
			background-clip: content-box;
			background: #B2B2B2;
		}
		
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
	
	button {
		color: #333333;
		border: 0;
		border-radius: 3px;
		padding: .3em .7em;
		outline: none;
		
		&:active {
			box-shadow: inset 1px 1px 3px #00000025;
		}
	}
}
