.treefrog {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	color: var(--color);
	user-select: none;
	
	&, div, form, input {
		box-sizing: border-box;
	}
	
	input, select:not(.compact) {
		padding: 5px;
	}
	
	input, select {
		color: var(--inputColor);
		border: var(--inputBorder);
		border-radius: 3px;
		outline: none;
		background: var(--inputBackgroundColor);
	}
	
	div {
		outline: none;
		
		&::-webkit-scrollbar {
			width: var(--scrollbarWidth);
			height: var(--scrollbarWidth);
		}
		
		&::-webkit-scrollbar-thumb {
			width: var(--scrollbarThumbWidth);
			height: var(--scrollbarThumbWidth);
			min-width: 40px;
			min-height: 40px;
			border-radius: 8px;
			border: var(--scrollbarPadding) solid var(--scrollbarBackgroundColor);
			background-clip: content-box;
			background: var(--scrollbarThumbBackgroundColor);
		}
		
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
	
	button {
		color: var(--buttonColor);
		border: 0;
		border-radius: 3px;
		padding: .3em .7em;
		outline: none;
		background: var(--buttonBackgroundColor);
		
		&:active {
			box-shadow: inset 1px 1px 3px #00000025;
		}
	}
}
