.editor {
	--appBackgroundColor: #edecea;
	--scrollbarThumbWidth: 8px;
	--scrollbarPadding: 2px;
	--scrollbarWidth: calc(var(--scrollbarThumbWidth) + var(--scrollbarPadding) * 2);
	--scrollbarBackgroundColor: white;
	--scrollbarBorder: 1px solid #bababa;
	--scrollbarThumbBorder: var(--scrollbarPadding) solid var(--scrollbarBackgroundColor);
	--scrollbarThumbBackground: #B2B2B2;
	--inputBorder: 1px solid #adaba6;
	--appBorder: 1px solid #afacaa;
	
	font-family: "Noto Sans";
	font-size: 12.5px;
	color: #444444;
	user-select: none;
	
	&, div, form, input {
		box-sizing: border-box;
	}
	
	input, select {
		padding: 5px;
	}
	
	input {
		border: var(--inputBorder);
		border-radius: 3px;
	}
	
	div {
		outline: none;
		
		&::-webkit-scrollbar {
			width: var(--scrollbarWidth);
			height: var(--scrollbarWidth);
		}
		
		&::-webkit-scrollbar-thumb {
			width: var(--scrollbarThumbWidth);
			height: var(--scrollbarThumbWidth);
			min-width: 40px;
			min-height: 40px;
			border-radius: 8px;
			border: var(--scrollbarPadding) solid var(--scrollbarBackgroundColor);
			background-clip: content-box;
			background: var(--scrollbarThumbBackground);
		}
		
		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
	
	button {
		
	}
}

.editor-dialog-overlay {
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
	
.editor-dialog {
	border: 1px solid gray;
	border-radius: 2px;
    box-shadow: 0 2px 6px -3px #00000040;
	background: white;
}
